DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=

GMAIL_USER=
GMAIL_PASS=

BOT_TOKEN=
CHAT_ID=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

CRON_SECRET=